body {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

main {
	border: 1px solid black;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
	align-items: stretch;
	width: 1200px;
	padding: 1% 0.2% 0.5% 0.2%;
}

div {
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
	padding: 1.2% 0.7%;
	width: 30%;
	margin-bottom: 1.5%;
}

p {
	margin: 0;
}

a {
	text-decoration: none;
	color: #384794;
}